In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
import sklearn.utils
import pandas_profiling as pp
from sklearn.cluster import KMeans 
import warnings
warnings.filterwarnings('ignore')
logisticRegr = LogisticRegression()
from sklearn.svm import SVC
%matplotlib inline

In [2]:
df=pd.read_csv('train.csv')
df.size

10692

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
df.drop(['Ticket','Name','PassengerId','Cabin','Fare','Embarked','SibSp','Parch'],axis=1,inplace=True)
df.shape

(891, 4)

In [6]:
#pp.ProfileReport(df, title = 'Pandas Profiling report of "Train" set', html = {'style':{'full_width': True}})

In [7]:
df.replace(np.nan,df.Age.mean, inplace=True)
df.dropna(axis=0,inplace=True)
df.shape

(891, 4)

In [8]:
df_survived=df.loc[df.Survived==1]
df_not_survived=df.loc[df.Survived==0]

In [9]:
gender = {'male': 1,'female': 0}

df.Sex = [gender[item] for item in df.Sex]

In [10]:
#df_survived.groupby('Parch').Survived.count()
#df_not_survived.groupby('Parch').Survived.count()
df2=pd.read_csv('test.csv')
df2.replace(np.nan, df2.Age.mean, inplace=True)
df2.isna().values.any()

False

In [11]:
X_train=df[['Pclass','Sex','Age']]
Y_train=df['Survived']
df2=pd.read_csv('test.csv')
df2.replace(np.nan, df2.Age.mean, inplace=True)
df2.dropna(axis=0,inplace=True)
df2.Sex = [gender[item] for item in df2.Sex]
X_test=df2[['Pclass','Sex','Age']]

LOGISTIC REGRESSION

In [12]:
logisticRegr.fit(X_train,Y_train)
Y_test=logisticRegr.predict(X_test)
Y_test

TypeError: float() argument must be a string or a number, not 'method'

SVM

In [ ]:
#classifier = SVC(kernel = 'rbf', random_state = 0)
#classifier.fit(X_train, Y_train)
#Y_test = classifier.predict(X_test)
#Y_test

K-MEANS CLUSTERING

In [ ]:
submission = pd.DataFrame({
        "PassengerId": df2["PassengerId"],
        "Survived": Y_test
    })

In [ ]:
submission.to_csv('prediction.csv', index=False)

COMPARE WITH GROUND TRUTH

In [ ]:
df3=pd.read_csv('ground-truth.csv')
df4=df3.survived.loc[892:]
df4.reset_index
comparison=df4-submission.Survived

AttributeError: 'Series' object has no attribute 'survived'

In [ ]:
submission.Survived

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [ ]:
df4.tail()

1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, dtype: int64